.middle
{
  flex:0.7;


  margin-top:20px;

}
.bottom
{
  flex:0.4;


  overflow: auto;
}
body{

    overflow:auto;
    margin-left:50px;
    margin-right:50px;
}
.middle
{
    margin-left:170px;
}
.menu1
{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.menu2
{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.menu3
{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.menu4
{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
