body{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 1080px;
    
}
.top
{
 flex:0.12;
    
    display: flex;
}
.logo
{
  flex:0.2;
}
.menu-bar
{
 flex:0.8;
 display: flex;
}
.menu1
{
  flex:0.2;
  text-align: center;
  margin-top: 20px;
}
.menu2
{
  flex:0.2;
  text-align: center;
  margin-top: 20px;
}
.menu3
{
 flex:0.2;
 text-align: center;
 margin-top: 20px;
}
.menu4
{
 flex:0.2;
 text-align: center;
 margin-top: 20px;
}

.logo-image
{
  
}
.menu1
{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.menu2
{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.menu3
{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.menu4
{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}